<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script type="text/javascript" src="/static/cart/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/cart/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/cart/js/swiper.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/success.css"/>

</head>

<body>
<!--头部-->
<div class="alert-info">
    <div class="hd_wrap_top">
        <ul class="hd_wrap_left">
            <li class="hd_home"><i class="glyphicon glyphicon-home"></i>
                <a href="/javascript:;">themall商城首页</a>
            </li>

        </ul>

        <ul class="hd_wrap_right">
            <li class="forel">
                <a class="aa" href="https://auth.poo0054.top/auth/login.html"
                   th:if="${session.loginUser==null}">你好，请登录</a>
                <a th:unless="${session.loginUser==null}" class="aa">[[${session.loginUser.username}]]</a>

                <a href=" https://auth.poo0054.top/auth/reg.html" th:if="${session.loginUser==null}"
                   class="li_2">免费注册</a>
            </li>
            <li class="spacer"></li>

            <li>
                <a href="/javascript:;">我的订单</a>
            </li>


        </ul>

    </div>
</div>

<div class="nav-tabs-justified">
    <div class="nav_wrap">

        <div class="nav_top">
            <div class="nav_top_one">
                <a href="https://poo0054.top"><img src="/static/cart/img/logo1.jpg" style="height: 60px;width:180px;"/></a>
            </div>
            <div class="nav_top_two"><input type="text"/>
                <button>搜索</button>
            </div>

        </div>

    </div>
</div>

<div class="main">

    <div class="success-wrap">
        <div class="w" id="result">
            <div class="m succeed-box" style="height: 180px">
                <div th:if="${orderSn!=null}" class="mc success-cont">
                    <h2>恭喜，秒杀成功，订单号[[${orderSn}]].正在准备订单数据，10s后自动跳转支付页面</h2>
                    <h2>
                        <a th:href="'https://order.poo0054.top/payOrder?orderSn='+${orderSn}">支付宝支付</a>
                    </h2>
                </div>

                <div th:if="${orderSn==null}" class="mc success-cont">
                    <h2>很遗憾，秒杀失败。稍后再试</h2>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type=" text/javascript" src="/static/cart/js/success.js"></script>

</html>
